# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which might contain sensitive data, such as
# password, private keys, and other secrets. Alternatively, you could
# exclude specific .tfvars files if you have some that don't contain sensitive
# information and you want to keep them versioned.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and
# are not meant to be shared
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc